body{
    background-color: rgb(25, 79, 25);
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}

.btn-primary {
    --bs-btn-border-color: none;

}

p {
    font-family: "Nanum Gothic";
    margin-top: 4rem;
}

/* styling for Resume*\


/* styling for Portfolio */

Card {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 50%;
    
}

/* responsive design for portfolio cards */

@media screen and (max-width: 400px) {
    Card {
        width: 100%;

    } 

}
