body{
    background-color: rgb(25, 79, 25);
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');



p {
    font-family: "Nanum Gothic";
    margin-top: 4rem;
}

/* styling for Resume*\

/*styling for the button*/
button.btn.btn-primary {
--bs-btn-border-color: none;   
}

/* styling for Portfolio */

Card {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 50%;
    
}

/* responsive design for portfolio cards */

@media screen and (max-width: 400px) {
    Card {
        width: 100%;

    } 

}
